<h2>Strona z oświetleniem</h2>
<div id="lighting">
	<p>Oświetlenie</p>
	<br/><button class="btn btn-success">Zmień treść</button><br><br>
	<form method="post" action="server.php">	
		<input type="hidden" name="id" value="1">
		<input type="hidden" name="JSONfile" value="lighting">
		<input type="text" name="switch" placeholder="Nazwa przełącznika"><br><br>
		<input type="text" name="status" placeholder="Status (on|off)"><br><br>
		<input class="btn btn-success" type="submit" value="Zapisz">
	</form>
</div>
<script src="assets/js/lighting.js"></script>