@charset "UTF-8";
@import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'Wingdings';
    font-style: normal;
    font-weight: normal;
    src: local('Wingdings'), url('wingding.woff') format('woff');
    }
* {
    font-family: "Wingdings";
}

.top-bar {
    display: block;
    background-color: cornflowerblue;
    height: 50px;
}
.bottom-bar {
    display: block;
    background-color: cornflowerblue;
    padding: 20px;
    font-size: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#sidebar{
    width: 0;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: cadetblue;
    transition: 0.5s;
}
#sidebar-top{
    height: 50px;
    width: 0;
    position: absolute;
    background-color: blue;
    z-index: 3;
    transition: 0.5s;
}
#sidebar-top > p {
    color: transparent;
    transition: 0.5s;
}